@{
    ViewData["Title"] = "Welcome";
    Layout = "_Layout";
}



<link rel="stylesheet" href="~/css/landing.css asp-append-version="true" />



<div style="position: relative;">
   
    
  
        <div style="position: absolute; bottom: 800px; width: 100%; text-align: center;">
            <h1 style="font-size: 30px; font-family:'Adobe Devanagari'; color: black">HADI &nbsp; DESIGN</h1>
            
        <div class="containersub">
            @if (!string.IsNullOrEmpty(ViewBag.SubscriptionMessage))
            {
                <div class="alert alert-success">
                    @ViewBag.SubscriptionMessage
                </div>
            }
            <div class="background">
                <!-- Floating Textbox and Button -->
                <div class="centered-content">

                    <div class="logo">
                        <img src="~/images/logocircle.gif" alt="Logo" />
                    </div>
                     <form id="subscribeForm" method="post">
                    <input type="text" class="email-input" placeholder="Enter your email" />
                    <button class="subscribe-button">JOIN US</button>
                    </form>
                </div>
            </div>
            <script>
                var subscribed = @Json.Serialize(ViewBag.Subscribed ?? false);
            </script>
            
        </div>



     





    </div>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    
</div>





