html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* In your CSS file */
footer {
    position: fixed; /* or use "absolute" for absolute positioning */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

/* Define the blinking animation */
@keyframes blinking {
    0%, 100%

{
    opacity: 1;
}

50% {
    opacity: 0;
}

}

/* Apply the animation to the link when hovering */
a.flashing-link.blinking {
    animation: blinking 3s infinite;
}

.hamburger-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
}
.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 7px);
}

.open .bar:nth-child(2) {
    opacity: 0;
}

.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Main navigation bar */
.main-navigation ul {
    /* Existing styles */
    display: none; /* Hide the menu items initially */
}

.main-navigation.open ul {
    display: flex; /* Show the menu items when navigation is open */
    flex-direction: column; /* Stack menu items vertically */
}

.main-navigation li {
    /* Existing styles */
    margin: 10px 0; /* Adjust margin for vertical spacing */
    text-align: center; /* Center-align menu items */
}
.box {
    position: relative;
    width: 100%; /* Set the width to 100% to fill the column */
    height: 200px; /* Adjust this value as needed */
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-size: cover;
}

.box-title {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: cornflowerblue;
    transition: color 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
}

    .box:hover .box-title {
        color: gray;
    }

.title-container {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.title {
    margin: 0;
    font-size: 32px;
    color: white;
    transition: color 0.3s;
}

.ptitle {
    margin: 0;
    
    color: black;
    font-family: 'Lucida Bright';
}

    .title:hover {
        color: gray;
    }

.custom-link {
    color: black; /* Change this to your desired text color */
    text-decoration: none;
}
body {
    background-image: url('../images/creamweb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.containersub {
    text-align: center;
    width: 50%;
    align-content:center;
    margin: auto;
    position:center;
}

.subscribe-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.email-input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subscribe-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .subscribe-button:hover {
        background-color: #0056b3;
    }